body {
  display: flex;
  flex-direction: column;
  margin: 0;
}

ul {
  list-style-type: none;
  display: flex;
  gap: 10px;
  font-size: 18px;
  padding: 0;
  margin: 0;
}

.header,
.footer {
  background-color: #1f2937;
  color: #f9faf8;
  display: flex;
}

.header {
  font-family: Roboto;
  margin-top: auto;
  justify-content: space-evenly;
}

.footer {
  justify-content: center;
  align-items: center;
  height: 72px;
  margin-bottom: auto;
}

.headertext {
  font-size: 24px;
}
